p {
    margin-bottom: 5px;
}

img {
    border-radius: 25px;;
}

.topPhoto {
    max-width: 300px;
    height: auto;
}

footer {
    position: relative;

}

html {
    height: 100%;
}

h1, h2, h3, h4, strong, p, li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 12.5%;
}

h3 {
    padding-top: 25px;
    padding-bottom: 50px;
    margin-left: 15%;
}

.navbar-collapse.in {
    display: block !important;
}

.project-display {
    display: flex;
    justify-content: center;
}

.text-placement-left {
    text-align: left;
    margin-right: 50px;
    margin-top: 50px;
}

.text-placement-right {
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
    .project-display {
        display: block;
    }
    .text-placement-left {
        margin-right: 0px;
        margin-top: 0px;
    }
    
    .text-placement-right {
        margin-left: 0px;
        margin-top: 0px;
    }
}